<!DOCTYPE html>
<html ng-app>
<head>
	<title>Checkmate</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/public/css/main.css">
	<script type="text/javascript" src="/public/js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/public/js/lib/angular.min.js"></script>
	<script type="text/javascript" src="/public/js/lib/date.js"></script>
	<script type="text/javascript" src="/public/js/lib/pattern.js"></script>
	<script type="text/javascript">
		function Task($scope) {
			$scope.tasks=[{body:"asdasd",time:"2pm"},{body:"asdsdfdgrttjkd",time:"3pm"}]
		}
	</script>
</head>
<body>
	<div id="container">
		<div id="top">
			<div contenteditable="true" id="pattern"></div>
		</div>
		<div id="content">
			<h2>Today</h2>
			<ul ng-controller="Task">
				<li ng-repeat="task in tasks">
					<p class="task">{{ task.body }}</p>
					<span class="time">{{ task.time }}</span>
				</li>
			</ul>
		</div>
	</div>

	<script type="text/javascript" src="/public/js/main.js"></script>
</body>
</html>